<div class="info jumbotron experience" id="experience">
  <div class="info-experience container">
    <h1 class="info-experience--header animated">Experience</h1>
    <h2 class="info-experience--subheader animated delay-1s">Here's what I've done so far...</h2>
    <div class="info-experience--content col-md-9 col-md-offset-3">
      <div class="row">
        <div class="info-experience--rbc animated">
          <div class="info-experience--image col-md-4">
            <a target="_blank" rel="noopener noreferrer" href="https://www.rbc.com/about-rbc.html">
              <img  class="col image" src="assets/images/rbc-logo.png">
            </a>
          </div>
          <div class="info-experience--description col-md-7">
            <h1 class="info-experience--job">RBC</h1>
            <h2 class="info-experience--position">Developer (Amplify), May 2018 - Dec 2018</h2>
            <h3 class="info-experience--location">Toronto, ON</h3>
            <p class="info-experience--description">Developer for Amplify 2019 program</p>
          </div>
        </div>
        <div class="info-experience--hsbc animated">
          <div class="info-experience--image col-md-4">
            <a target="_blank" rel="noopener noreferrer" href="https://www.about.hsbc.ca/">
              <img  class="col image" src="assets/images/hsbc-logo.png">
            </a>
          </div>
          <div class="info-experience--description col-md-7">
            <h1 class="info-experience--job">HSBC</h1>
            <h2 class="info-experience--position">Full Stack Developer (Intern), May 2018 - Dec 2018</h2>
            <h3 class="info-experience--location">Toronto, ON</h3>
            <p class="info-experience--description">Developed web applications for Evolve, an FX Platform.</p>
          </div>
        </div>
        <div class="info-experience--hoc animated">
          <div class="info-experience--image col-md-4">
            <a target="_blank" rel="noopener noreferrer" href="http://www.ourcommons.ca/en/about-the-house">
              <img class="col image" src="assets/images/hoc-logo.png">
            </a>
          </div>
          <div class="info-experience--description col-md-7">
            <h1 class="info-experience--job">House of Commons</h1>
            <h2 class="info-experience--position">Software Developer (Intern), Jan 2017 - Apr 2017</h2>
            <h3 class="info-experience--location">Ottawa, ON</h3>
            <p class="info-experience--description">Portal based apps to deliver quality, reliable and cost-effective solutions for Members of Parliament, HoC Administration, and partners.</p>
          </div>
        </div>
        <div class="info-experience--nrc animated">
          <div class="info-experience--image col-md-4">
            <a target="_blank" rel="noopener noreferrer" href="https://www.nrc-cnrc.gc.ca/eng/about/index.html">
              <img class="col image" src="assets/images/nrc-logo.png">
            </a>
          </div>
          <div class="info-experience--description col-md-7">
            <h1 class="info-experience--job">National Research Council</h1>
            <h2 class="info-experience--position">Application Developer (Intern), May 2017 - Aug 2017</h2>
            <h3 class="info-experience--location">Ottawa, ON</h3>
            <p class="info-experience--description">Web dashboards for environmentally friendly energy solutions throughout federal buildings in Ottawa.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
