<div class="info jumbotron skills" id="skills">
  <div class="info-skills container">
    <h1 class="info-skills--header animated">Skills</h1>
    <div class="info-skills--content col-md-9 animated">
      <p>
        Most of my area of expertise is front-end development. HTML, CSS, JS (ES6) building small and medium web apps, and frameworks like React. I am currently learning Node.js.
      </p>
    </div>

    <div class="info-skills--frontend animated">
      <h1 class="info-skills--subheader">Front-end</h1>
      <i class="info-skills--icon devicon-html5-plain-wordmark colored"></i>
      <i class="info-skills--icon devicon-javascript-plain colored"></i>
      <i class="info-skills--icon devicon-jquery-plain-wordmark colored"></i>
      <i class="info-skills--icon devicon-react-original colored"></i>
      <i class="info-skills--icon devicon-css3-plain-wordmark colored"></i>
      <i class="info-skills--icon devicon-less-plain-wordmark colored"></i>
      <i class="info-skills--icon devicon-bootstrap-plain-wordmark colored"></i>
      <i class="info-skills--icon devicon-sass-original colored"></i>
    </div>

    <div class="info-skills--backend animated">
      <h1 class="info-skills--subheader">Back-end</h1>
      <i class="info-skills--icon devicon-java-plain-wordmark colored"></i>
      <i class="info-skills--icon devicon-nodejs-plain-wordmark"></i>
      <i class="info-skills--icon devicon-mysql-plain colored"></i>
    </div>

    <div class="info-skills--other animated">
      <h1 class="info-skills--subheader">Other</h1>
      <i class="info-skills--icon devicon-git-plain-wordmark colored"></i>
      <i class="info-skills--icon devicon-webpack-plain colored"></i>
    </div>
  </div>
</div>
